<template>
  <article class="message" v-if="user" v-bind:class="[project.completed ? 'is-dark' : 'is-info']">
    <div class="message-body">
      <h2 class="title">#{{ project.id }} {{ project.name }}</h2>
      <h4 class="subtitle">{{ project.description }}</h4>

      <p>
        Skills required:
        <a class="is-padded-after" v-for="skill in project.skills">#{{ skill }}</a>
      </p>

      <p>
        Owner:
        <!-- Aufgabe #3 -->
        <span class="tag is-primary">{{ owner.displayName }}</span>
      </p>

      <p>
        Attendees:
        <span v-for="attendee in attendees">
          <!-- Aufgabe #3 -->
          <span class="tag is-info">{{ attendee.name }}</span>
        </span>
      </p>

      <hr/>

      <div class="controls columns">
        <div class="column is-one-quarter is-hidden-mobile">
          <small>{{ project.created_at }}</small>
        </div>

        <div class="column is-desktop has-text-right">
          <div class="block" v-if="editable">
            <a class="button is-outlined is-flex-mobile" v-on:click="edit">Edit Project</a>
            <a class="button is-info is-outlined is-flex-mobile" v-if="!project.completed" v-on:click="complete">Complete Project</a>
            <!-- Aufgabe #1 -->
            <a class="button is-danger is-outlined is-flex-mobile" v-on:click="remove">Remove Project</a>
          </div>

          <div class="block" v-else>
            <a class="button is-info is-outlined is-flex-mobile" v-if="joinable" v-on:click="join">Join Project</a>
            <a class="button is-danger is-outlined is-flex-mobile" v-if="leaveable" v-on:click="leave">Leave Project</a>
          </div>
        </div>
      </div>
    </div>
  </article>
</template>

<script>
import Tag from './Tag'
import firebasedb from '../../firebasedb'
import omit from '../../helpers'

export default {
  name: 'Project',
  components: {
    Tag
  },

  firebase: {
    projects: firebasedb.ref('projects'),
    users: firebasedb.ref('users')
  },

  data() {
    return {
      form: false
    };
  },

  props: {
    project: {
      default() {
        return {
          skills: [],
          attendee_ids: []
        }
      }
    }
  },

  created() {
    // NOTE: Set skills and attendee_ids manually because of firebase limitation
    this.project.skills = this.project.skills || []
    this.project.attendee_ids = this.project.attendee_ids || []
  },

  updated() {
    // NOTE: Set skills and attendee_ids manually because of firebase limitation
    this.project.skills = this.project.skills || []
    this.project.attendee_ids = this.project.attendee_ids || []
  },

  computed: {
    user() {
      return this.$store.state.user
    },

    owner() {
      return this.users.find(user => user.uid === this.project.owner_id) || {}
    },

    attendee_ids() {
      return this.project.attendee_ids || []
    },

    attendees() {
      return this.users.filter(user => this.attendee_ids.includes(user.uid))
    },

    joinable() {
      return this.project.owner_id !== this.user.uid && !this.attendee_ids.includes(this.user.uid)
    },

    leaveable() {
      return this.attendee_ids.includes(this.user.uid)
    },

    editable() {
      return this.project.owner_id === this.user.uid
    }
  },

  methods: {
    edit() {
      this.$emit('edit')
    },

    join() {
      if (this.joinable) {
        this.project.attendee_ids.push(this.user.uid)
        this.update()
      }
    },

    leave() {
      if (this.leaveable) {
        this.project.attendee_ids.splice(this.project.attendee_ids.indexOf(this.user.uid), 1)
        this.update()
      }
    },

    update() {
      this.$firebaseRefs.projects.child(this.project['.key']).update(omit(this.project, '.key'))
    },

    complete() {
      this.project.completed = true
      this.update()
    },

    // Aufgabe #1
    reopen() {
    },

    remove() {
      this.$firebaseRefs.projects.child(this.project['.key']).remove()
    }
  }
};
</script>
