<template>
  <!-- Aufgabe #3 -->
  <span class="tag is-info">
    <!-- NOTE: <slot> - wird mit dem Tag-Inhalt ersetzt: <tag>FOO</tag> => <span class="tag is-info">FOO</span> -->
    <slot></slot>
  </span>
</template>

<script>
  export default {
    name: 'Tag',

    data() {
      return {
        colorSet: { green: 'is-primary', blue: 'is-info' }
      }
    },

    // Aufgabe #3
    props: [],

    computed: {
      tagClass() {
        return this.colorSet[this.color]
      }
    }
  };
</script>

<style>
</style>
