<template>
  <div>
    <nav class="nav has-shadow">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item" href="https://paessler.com">
            <img src="static/paessler_logo.png" alt="Paessler logo" class="is-hidden-mobile">
            <img src="static/paessler_icon.png" alt="Paessler logo" class="is-hidden-tablet-only is-hidden-desktop-only is-hidden-widescreen">
          </a>
        </div>

        <template v-if="isAuthenticated">
          <!-- Aufgabe #5 -->
          <div class="nav-right nav-menu" v-if="isAuthenticated" >
            <router-link class="nav-item is-tab" v-bind:class="{'is-active': currentRoute==='/projects'}" to="projects">Projects</router-link>

            <router-link class="nav-item is-tab is-capitalized" v-bind:class="{'is-active': currentRoute==='/user'}" to="user">
              <figure class="image is-16x16" style="margin-right: 8px;">
                <img src="static/paessler_icon.png" alt="User Avatar">
              </figure>
              {{ user.displayName }}
            </router-link>

            <a class="nav-item is-tab" v-on:click="logout">Log out</a>
          </div>
        </template>

        <!-- Aufgabe #5 -->
        <span class="nav-toggle" v-if="isAuthenticated">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
    </nav>

    <section class="hero" v-bind:class="[ isAuthenticated ? 'is-light' : 'is-info is-bold']">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Join me on this.
          </h1>
          <h2 class="subtitle">
            Looking for team mates on your new project? Looking for new challenges? > This is the right place.
          </h2>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    name: 'NavBar',
    data() {
      return {
        mobileMenuIsOpen: false
      }
    },

    computed: {
      user() {
        return this.$store.state.user
      },

      isAuthenticated() {
        return !!this.user
      },

      currentRoute() {
        return this.$route.path
      }
    },

    methods: {
      logout() {
        this.$router.push('/')
        this.$store.dispatch('logout')
      },

      // Aufgabe #5
      toggleMobileMenu() {

      }
    }
  };
</script>

<style scope>
  .nav-left a.nav-item:first-child {
    padding-left: 0;
    padding-right: 20px;
  }

  .hero > .hero-body {
    padding: 1.5rem;
  }
</style>
