<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <!-- Aufgabe #4 -->
        Add/Update Project
      </p>
      <a class="card-header-icon">
        <span class="icon">
          <i class="fa fa-angle-down"></i>
        </span>
      </a>
    </header>

    <div class="card-content">
      <div class="content">
        <form>
          <label class="label">Name</label>
          <p class="control">
            <input class="input" type="text" placeholder="Name" v-model="project.name" required="true">
            <span v-show="!validation.name" class="help is-danger">Name cannot be empty.</span>
          </p>

          <label class="label">Description</label>
          <p class="control has-icon has-icon-right">
            <textarea class="textarea" placeholder="Project description" v-model="project.description"></textarea>
            <span v-show="!validation.description" class="help is-danger">Description cannot be empty.</span>
          </p>

          <label class="label">Skills required</label>
          <p class="control has-icon has-icon-right">
            <v-select v-model="project.skills" :options="skillOptions" :on-change="updateSkills" multiple taggable push-tags></v-select>
          </p>

          <div class="control">
            <hr />
            Preview:
            <article class="message is-primary">
              <div class="message-body">
                <h2 class="title"># {{ project.name }}</h2>
                <h4 class="subtitle">{{ project.description }}</h4>
                <template v-if="project.skills && project.skills.length">
                  Skills required: <a class="is-padded-after" v-for="skill in project.skills">#{{ skill }}</a>
                </template>
                <p class="control has-icon has-icon-right">
                  Owner:
                  <!-- Aufgabe #3 -->
                  <span class="tag is-primary">{{ owner.displayName }}</span>
                </p>
              </div>
            </article>
          </div>

          <hr />
          <div class="controls columns">
            <div class="column">
              <a class="button is-primary" :disabled="!isValid" v-on:click="save">
                <!-- Aufgabe #4 -->
                Add/Update Project
              </a>
            </div>
            <div class="column">
              <a class="button is-outlined is-pulled-right" v-on:click="close">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import vSelect from 'vue-select'

  import firebasedb from '../firebasedb'
  import omit from '../helpers'
  import Tag from './shared/Tag'

  export default {
    name: 'ProjectForm',

    components: {
      vSelect, Tag
    },

    firebase: {
      projects: firebasedb.ref('projects'),
      skills: firebasedb.ref('skills'),
      users: firebasedb.ref('users')
    },

    data() {
      return {
      }
    },

    props: {
      editProject: {
        default() {
          return {
            name: '',
            description: '',
            completed: false,
            owner_id: this.$store.state.user.uid,
            created_at: `${new Date().toLocaleDateString('DE')} - ${new Date().toLocaleTimeString('DE')}`,
            timestamp: Date.now(),
            attendee_ids: [],
            skills: []
          }
        }
      }
    },

    computed: {
      project() {
        return this.editProject
      },

      validation() {
        return {
          name: !!this.project.name.trim(),
          description: !!this.project.description.trim()
        }
      },

      isValid() {
        const validation = this.validation
        return Object.keys(validation).every(key => validation[key])
      },

      owner() {
        return this.users.find(user => this.project.owner_id === user.uid) || this.$store.state.user
      },

      skillOptions() {
        return this.skills.map(skill => skill['.value'])
      },

      editMode() {
        return !!this.editProject['.key']
      },

      // Aufgabe #4
      formTitle() {
        return ''
      }
    },

    methods: {
      close() {
        this.$emit('close')
      },

      save() {
        if (!this.isValid) return;
        if (this.editMode) {
          this.$firebaseRefs.projects.child(this.project['.key']).update(omit(this.project, '.key'))
        } else {
          this.$firebaseRefs.projects.push(this.project)
        }

        this.close()
      },

      updateSkills(val) {
        const storedSkills = new Set(this.skills.map(skill => skill['.value']))
        const selectedSkills = new Set(val)
        const newSkills = Array.from(new Set([...selectedSkills].filter(x => !storedSkills.has(x))))

        if (newSkills.length) {
          newSkills.forEach((skill) => {
            this.$firebaseRefs.skills.push(skill)
          })
        }
      }
    }
  }
</script>

<style scoped>

</style>
