<template>
  <div>
    <section class="section">
      <div class="container">
        <nav class="level">
          <!-- Left side -->
          <div class="level-left">
            <div class="level-item">
              <div class="field has-addons">
                <p class="control">
                  <input class="input" type="text" placeholder="Find a project" v-model="searchQuery">
                </p>
              </div>
            </div>
          </div>

          <!-- Right side -->
          <div class="level-right">
            <p class="level-item">
              <a v-bind:class="{ active: filter.value === '' }" v-on:click="filter = { key: '', value: '' }">
                All ({{ projects.length }})
              </a>
            </p>

            <p class="level-item">
              <a v-bind:class="{ active: filter.value === false }" v-on:click="filter = { key: 'completed', value: false }">
                Active ({{ active.length }})
              </a>
            </p>

            <p class="level-item">
              <a v-bind:class="{ active: filter.value === true }" v-on:click="filter = { key: 'completed', value: true }">
                Done ({{ completed.length }})
              </a>
            </p>

            <p class="level-item">
              <a v-bind:class="{ active: filter.key == 'owner_id' }" v-on:click="filter = { key: 'owner_id', value: owner.uid }">
                My ({{ myProjects.length }})
              </a>
            </p>

            <p class="level-item">
              <a class="button is-success" v-on:click="newProject">New Project</a>
            </p>
          </div>
        </nav>

        <hr/>

        <project-form v-if="form" :edit-project="project" @close="closeForm"></project-form>
        <br />

        <article  v-if="loading" class="message is-info">
          <div class="message-body">
            <h4><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i> Please wait, loading...</h4>
          </div>
        </article>

        <article class="message is-warning" v-if="!loading && !searchResult.length">
          <div class="message-body">
            Project list is empty.
          </div>
        </article>

        <div class="control" v-else v-for="project in searchResult">
          <project :project="project" @edit="editProject(project)"></project>
          <br />
        </div>
      </div>
    </section>

  </div>
</template>

<script>
  import firebasedb from '../firebasedb'
  import ProjectForm from './ProjectForm'
  import Project from './shared/Project'

  export default {
    name: 'Projects',
    components: {
      ProjectForm,
      Project
    },

    firebase: {
      skills: firebasedb.ref('skills'),
      projects: {
        source: firebasedb.ref('projects'),
        readyCallback() {
          this.loading = false
        }
      }
    },

    data() {
      return {
        searchQuery: '',
        filter: { key: 'completed', value: false },
        loading: true,
        form: false,
        project: undefined
      };
    },

    mounted() {
    },

    computed: {
      owner() {
        return this.$store.state.user
      },

      active() {
        return this.projects.filter(project => !project.completed)
      },

      completed() {
        return this.projects.filter(project => project.completed)
      },

      myProjects() {
        return this.projects.filter(project => project.owner_id === this.owner.uid)
      },

      filteredProjects() {
        if (this.filter.key) {
          return this.projects.filter(project => project[this.filter.key] === this.filter.value)
        }

        return this.projects
      },

      sortedProjects() {
        return this.filteredProjects.sort((a, b) => a.timestamp < b.timestamp)
      },

      searchResult() {
        /* eslint max-len: ["error", 180] */
        return this.sortedProjects.filter(project => Object.keys(project).some(key => String(project[key]).toLowerCase().indexOf(this.searchQuery.toLowerCase()) > -1))
      }
    },

    methods: {
      showForm() {
        window.scrollTo(500, 0);
        this.form = true
      },

      closeForm() {
        this.form = false
        this.project = undefined
      },

      newProject() {
        this.project = undefined
        this.showForm()
      },

      editProject(project) {
        this.closeForm()
        this.project = Object.assign({}, project)

        this.showForm()
      }
    }
  };
</script>

<style>
  .level .level-item a.active {
    color: #333;
    font-weight: bold;
  }

  .message-body a.button {
    text-decoration: none;
  }
</style>
