<template>
  <div>
    <br />
    <div class="columns">
      <div class="card column is-half is-offset-one-quarter">
        <div class="card-content">
          <div class="media" v-if="user">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="static/paessler_icon.png" alt="User Avatar">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">{{user.displayName}}</p>
              <p class="subtitle is-6">{{user.email}}</p>
            </div>
          </div>

          <div class="content">
            <p>
              Change your password by entering a new one and verify by typing the same again.
            </p>
            <p class="control">
              <input class="input space-after" type="password" placeholder="Your new password." v-model="passwordInput">
              <input class="input space-after" type="password" placeholder="Verify your new password." v-model="passwordInputVerify" v-if="passwordInput.length">
              <span class="help is-danger" v-if="(passwordInput!=='' && passwordInputVerify!=='') && passwordInput!==passwordInputVerify">The passwords you entered are not the same (yet).</span>
              <span class="help is-danger" v-if="errorMessage">{{errorMessage}}</span>
              <span class="help is-info" v-if="passwordWasChanged && !passwordInput && !passwordInputVerify">Your password was successfully submitted.</span>
              <a class="button is-primary" v-if="canSubmit" @click="submitPassword">Submit your new password.</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'UserProfile',
    data() {
      return {
        passwordInput: '',
        passwordInputVerify: '',
        errorMessage: '',
        passwordWasChanged: false
      }
    },

    computed: {
      user() {
        return this.$store.state.user
      },

      canSubmit() {
        if ((this.passwordInput !== '' && this.passwordInputVerify !== '') && this.passwordInput === this.passwordInputVerify) {
          return true
        }
        return false
      }
    },

    methods: {
      submitPassword() {
        if (this.canSubmit) {
          this.$store.dispatch('updatePassword', this.passwordInput).then(() => {
            this.passwordWasChanged = true
            this.passwordInput = ''
            this.passwordInputVerify = ''
          }).catch((err) => {
            this.errorMessage = err.message
          })
        }
      }
    }
  };
</script>

<style scoped>
  .space-after{
    margin-bottom: 10px;
  }
</style>
