<template>
  <section class="section column is-half is-offset-one-quarter">
    <div class="content">
      <div class="card">
        <header class="card-header">
          <a class="card-header-icon">
            <span class="icon">
              <i class="fa fa-lock"></i>
            </span>
          </a>

          <div class="card-header-title">
            {{ modes[mode].title }}
          </div>

          <a class="card-header-icon" v-on:click="toggle(mode)">
            {{ modes[mode].text }}
          </a>

        </header>

        <div class="card-content">
          <form>
            <div class="field">
              <label class="label">Email</label>
              <input class="input" type="email" name="email" placeholder="Your email" v-model="user.email">
              <!-- <p class="help is-danger">This email is invalid</p> -->
            </div>

            <div class="field">
              <label class="label">Password</label>
              <input class="input" type="password" name="password" placeholder="Your password" v-model="user.password">
            </div>

            <hr>

            <div class="field" v-if="mode === 'signup'">
              <label class="label">Username</label>
              <input class="input" type="text" name="username" placeholder="Your username or full name" v-model="user.username">
              <!-- <p class="help is-info">Username is optional</p> -->
              <br>
            </div>

            <div class="field" v-if="message">
              <article class="message is-danger">
                <div class="message-body">
                  {{ message }}
                </div>
              </article>
            </div>
          </form>

        </div>

        <footer class="card-footer is-uppercased">
          <a class="card-footer-item is-bold" v-bind:class="{ disabled: disabled }" v-on:click="submit()">{{ modes[mode].title }}</a>
        </footer>
      </div>
    </div>
  </section>
</template>

<script>
  import firebasedb from '../firebasedb'

  export default {
    name: 'Welcome',
    firebase: {
      users: firebasedb.ref('users')
    },

    data() {
      return {
        user: { email: null, password: null, username: null },
        message: null,
        mode: 'signin',
        modes: {
          signin: { title: 'Sign in', text: 'You don\'t have an account?' },
          signup: { title: 'Sign up', text: 'You already have an account?' }
        }
      };
    },

    mounted() {
    },

    watch: {
      'user.email': {
        handler(val) {
          if (val) {
            const prefix = this.user.email.split('@')[0]
            if (prefix.endsWith('.')) {
              this.user.username = prefix.slice(0, -1)
            } else {
              this.user.username = prefix.split('.').map(x => x[0].toUpperCase() + x.slice(1)).join(' ')
            }
          }
        },
        deep: true
      }
    },

    computed: {
      disabled() {
        if (this.mode === 'signin') {
          return !(this.user.email && this.user.password)
        }
        return !(this.user.email && this.user.password && this.user.username)
      }
    },

    methods: {
      toggle(mode) {
        this.message = null
        this.mode = mode === 'signin' ? 'signup' : 'signin'
      },

      submit() {
        this.$store.dispatch(this.mode, this.user).then(() => {
          this.$router.push('/projects')
        }).catch((error) => {
          this.message = error.message
        })
      }
    }
  };
</script>
