.is-capitalized {
  text-transform: capitalize;
}

.is-uppercased {
  text-transform: uppercase;
}

.is-bold {
  font-weight: bold;
}

a.disabled {
  pointer-events: none;
  color: #363636;
  opacity: 0.5;
}

a.is-padded-after {
  padding-right: 5px;
}
