<template>
  <div>
    <nav-bar></nav-bar>
    <router-view></router-view>
  </div>
</template>

<script>
  import firebase from 'firebase'
  import NavBar from './components/NavBar';

  export default {
    name: 'App',
    components: { NavBar },
    mounted() {
      firebase.auth().onAuthStateChanged((user) => {
        this.$store.dispatch('updateUser', user)
      })
    }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }
</style>
